@import '../../style/variables';
.subtitle {
	font-weight: bold;
	font-size: 28px;
	color: $text-shadow-logo-color;
	text-align: center;
}
@media (min-width: 769px) {
	.subtitle {
		font-size: 32px;
	}
}
