.app {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	min-height: 100vh;
	transition: all 0.5s ease-in-out;
	/* 	background-color: #fff; */
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
.app::-webkit-scrollbar {
	display: none;
}
