.app {
	position: relative;
	display: block;
	padding: 0;
	background: linear-gradient(191.73deg, #ddd9cf 1.23%, #98948c 100%);
	min-height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.app::-webkit-scrollbar {
	display: none;
}
