$header-color: #464744;
$gold-text-color: #e1ba87;
$msg-bg-color: #f9f7ed;
$btn-color: #464744;
$text-shadow-logo-color: #1e1e1e;
$bg-color-top: #ddd9cf;
$bg-color-bot: #98948c;

//font
$title-size: 30px;
$subtitle-size: 26px;
$text-size: 22px;

//img size
$img-width: 390px;
$img-heigth: 320px;
