@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
	font-family: 'Rubik', sans-serif;
	box-sizing: border-box;
	p {
		padding: 0;
		margin: 0;
	}
	/* 	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	} */
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #1e1e1e;
	position: relative;
}
html::-webkit-scrollbar {
	display: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
