@import '../../style/variables';

.title {
	font-size: $title-size-mobile;
	font-weight: bold;
	color: #ff0000;
	text-align: center;
}
@media (min-width: 769px) {
	.title {
		font-size: $title-size-desktop;
	}
}
