@import '../../../style/variables';
.reviewsPage {
	display: block;
	padding: 0px;
	width: $pageWidth;
	min-height: 100vh;
	&-wrapper {
		margin: 0 auto;
		max-width: 1366px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px 32px;
		gap: 32px;
	}
	&-sub {
		text-align: left;
	}
}
@media (max-width: 320px) {
	.reviewsPage {
		&-wrapper {
			align-items: center;
			padding: 16px 0px;
			gap: 16px;
		}
	}
}
